<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="myBindingForBigArrays"
                    maxReceivedMessageSize="2147483647">
                    <readerQuotas
                        maxDepth="64"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <services>
            <service name="J2i.Net.FileCopyService.CopyService" behaviorConfiguration="myServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://eric-pc:8001/FileCopy/" />
                    </baseAddresses>
                </host>

                <endpoint bindingConfiguration="myBindingForBigArrays" address="" binding="basicHttpBinding" contract="J2i.Net.FileCopyService.ICopyService" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="myServiceBehavior">
                    <serviceMetadata httpGetEnabled="True" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>